<div class="main-content">
    <section class="header-1 section-rotate bg-section-secondary" data-offset-top="#header-main" style="padding-top: 133.188px;">
        <div class="section-inner bg-gradient-primary"></div>
        <div class="pt-7 position-absolute middle right-0 col-lg-7 col-xl-6 d-none d-lg-block" style="top: 37%">
            <figure class="w-100 right-0" style="max-width: 1000px;">
                <img class="img-fluid" src="https://ika.uii.ac.id//media/banners/5f118d2f2277c.png" alt="Image placeholder">
            </figure>
        </div>
        <div class="container py-5 pt-lg-6 d-flex align-items-center position-relative zindex-100">
            <div class="col ml-md-n3">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 text-center text-lg-left">
                        <div class="itm">
                            <h1 class="text-white mb-4">
                                <span class="text-md-large text-sm-large">Ikatan Keluarga Alumni Universitas Islam Indonesia</span>
                            </h1>
                            <p class="lead text-white">
                                Organisasi Alumni UII atau lebih dikenal dengan nama Ikatan Keluarga Alumni UII adalah sebuah wadah berkumpulnya para alumni Universitas Islam Indonesia Yogyakarta, antar fakultas dan juga lintas angkatan.
                                Lahirnya Keluarga Alumni juga dilatar belakangi oleh adanya dorongan kuat untuk saling membantu sesama alumni, serta rasa tanggung jawab para alumni untuk ikut membina dan membangun almamaternya.
                                Ketua Umum DPP IKA UII saat ini adalah Dr. Syarifuddin, S.H., M.H. yang juga merupakan Ketua Mahkamah Agung Republik Indonesia. Sementara Sekretaris Jenderal DPP IKA UII adalah Dr. Ari Yusuf Amir, S.H., M.H.
                            </p>
                            <div class="mt-5">
                                <a href="#" class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon mr-sm-4 scroll-me">
                                    <span class="btn-inner--text">Baca Lebih Lanjut</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-md bg-section-secondary mt-5" id="quotediv">
        <div class="container swiper-js-container">
            <div class="mb-5 px-3 text-center">
                <span class="badge badge-soft-warning badge-pill badge-lg">PROFIL ALUMNI
                </span>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <swiper [config]="config">
                        <div class="swiper-wrapper" style="cursor: grab;">
                            <div class="swiper-slide">
                                <div class="card" data-animate-hover="1">
                                    <div class="animate-this">
                                        <a href="https://ika.uii.ac.id/profile-alumni/detail/dr-h-muhammad-syarifuddin-s-h-m-h-7">
                                            <img src="http://ika.uii.ac.id/media/avatars/5f1bf1bdf127e.jpeg" class="card-img-top my-profile" alt="Image placeholder">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <blockquote>
                                            <span class="quote"></span>
                                            <div class="quote-text">
                                                <p class="font-italic lh-170 text-dark">UII JAYA , ALUMNI HEBAT</p>
                                                <footer class="text-muted blockquote-footer">
                                                    Dr. H. Muhammad Syarifuddin, S.H., M.H.
                                                    <cite class="Source Title">
                                                        <br>
                                                        Ketua Mahkamah Agung Republik Indonesia (Ketua Umum DPP IKA UII)
                                                    </cite>
                                                </footer>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" data-animate-hover="1">
                                    <div class="animate-this">
                                        <a href="https://ika.uii.ac.id/profile-alumni/detail/dr-h-muhammad-syarifuddin-s-h-m-h-7">
                                            <img src="http://ika.uii.ac.id/media/avatars/5f1bf1bdf127e.jpeg" class="card-img-top my-profile" alt="Image placeholder">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <blockquote>
                                            <span class="quote"></span>
                                            <div class="quote-text">
                                                <p class="font-italic lh-170 text-dark"> Jadilah suar kebenaran dan kemaslahatan di bawah Nur Ilahi agar membawa kebaikan di dalam kehidupan yang sebentar ini.</p>
                                                <footer class="text-muted blockquote-footer">
                                                    DR. Halim Alamsyah, S.E., S.H., M.A. 
                                                    <cite class="Source Title">
                                                        <br>
                                                        Ketua Dewan Komisioner Lembaga Penjamin Simpanan (LPS) Periode 2015-2020
                                                    </cite>
                                                </footer>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" data-animate-hover="1">
                                    <div class="animate-this">
                                        <a href="https://ika.uii.ac.id/profile-alumni/detail/dr-h-muhammad-syarifuddin-s-h-m-h-7">
                                            <img src="http://ika.uii.ac.id/media/avatars/5f1bf1bdf127e.jpeg" class="card-img-top my-profile" alt="Image placeholder">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <blockquote>
                                            <span class="quote"></span>
                                            <div class="quote-text">
                                                <p class="font-italic lh-170 text-dark">Takwa dan kejujuran akan memberi ketenangan hidup</p>
                                                <footer class="text-muted blockquote-footer">
                                                    Prof. Dr. Mohammad Mahfud MD., S.H., S.U., M.I.P. 
                                                    <cite class="Source Title">
                                                        <br>
                                                        Menkopulhukam
                                                    </cite>
                                                </footer>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" data-animate-hover="1">
                                    <div class="animate-this">
                                        <a href="https://ika.uii.ac.id/profile-alumni/detail/dr-h-muhammad-syarifuddin-s-h-m-h-7">
                                            <img src="http://ika.uii.ac.id/media/avatars/5f1bf1bdf127e.jpeg" class="card-img-top my-profile" alt="Image placeholder">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <blockquote>
                                            <span class="quote"></span>
                                            <div class="quote-text">
                                                <p class="font-italic lh-170 text-dark">
                                                    Bersikaplah, walau sikapmu, mengakibatkan kekalahanmu.
                                                    Sesungguhnya orang-orang yang netral adalah orang-orang yang lemah.</p>
                                                <footer class="text-muted blockquote-footer">
                                                    DR. Ari Yusuf Amir, S.H, M.H.
                                                    <cite class="Source Title">
                                                        <br>
                                                        Senior Lawyer
                                                    </cite>
                                                </footer>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </swiper>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg bg-section-white overflow-hidden">
        <div class="container position-relative zindex-100">
            <div class="mb-5 px-3 text-center">
                <span class="badge badge-soft-warning badge-pill badge-lg">
                    NEWS IKA UII
                </span>
            </div>
            <div fxLayout="row" fxLayoutGap="25px" fxLayout.lt-sm="column" fxLayoutGap.lt-md="10px" fxLayout.lt-md="column">
                <div class="mb-5 mb-lg-0" data-animate-hover="1">
                    <div class="animate-this">
                        <a href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <img src="https://ika.uii.ac.id/media/news/5fc222d84067d.jpeg" class="img-fluid rounded shadow" alt="Image placeholder">
                        </a>
                    </div>
                    <div class="pt-4">
                        <small class="text-uppercase getDate" data-date="2020-11-25 00:00:00" data-format="LL">
                            25 November 2020
                        </small>
                        <a class="tx" href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <h5>Siap Pimpin DPW IKA UII Sulawesi Selatan, Kanda Tadjuddin Rachman Ajak Alumni UII Jadi Pelopor Pemersatu Bangsa</h5>
                        </a>
                    </div>
                </div>
                <div class="mb-5 mb-lg-0" data-animate-hover="1">
                    <div class="animate-this">
                        <a class="tx" href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <img src="https://ika.uii.ac.id/media/news/5fc222d84067d.jpeg" class="img-fluid rounded shadow" alt="Image placeholder">
                        </a>
                    </div>
                    <div class="pt-4">
                        <small class="text-uppercase getDate" data-date="2020-11-25 00:00:00" data-format="LL">
                            25 November 2020
                        </small>
                        <a class="tx" href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <h5>Siap Pimpin DPW IKA UII Sulawesi Selatan, Kanda Tadjuddin Rachman Ajak Alumni UII Jadi Pelopor Pemersatu Bangsa</h5>
                        </a>
                    </div>
                </div>
                <div class="mb-5 mb-lg-0" data-animate-hover="1">
                    <div class="animate-this">
                        <a href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <img src="https://ika.uii.ac.id/media/news/5fc222d84067d.jpeg" class="img-fluid rounded shadow" alt="Image placeholder">
                        </a>
                    </div>
                    <div class="pt-4">
                        <small class="text-uppercase getDate" data-date="2020-11-25 00:00:00" data-format="LL">
                            25 November 2020
                        </small>
                        <a href="https://ika.uii.ac.id/news/detail/siap-pimpin-dpw-ika-uii-sulawesi-selatan-kanda-tadjuddin-rachman-ajak-alumni-uii-jadi-pelopor-pemersatu-bangsa-55">
                            <h5>Siap Pimpin DPW IKA UII Sulawesi Selatan, Kanda Tadjuddin Rachman Ajak Alumni UII Jadi Pelopor Pemersatu Bangsa</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-5">
                <div class="col-lg-12 text-center mt-6">
                    <a href="#" class="btn btn-warning rounded-pill btn-icon hover-translate-y-n3 mb-4 mb-md-0">
                        <span class="btn-inner--text text-white">Lihat Lebih Lanjut</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg bg-warning overflow-hidden">
        <div class="container position-relative zindex-100 text-center">
            <div class="mb-5 px-3 text-center">
                <span class="badge badge-soft-secondary badge-pill badge-lg text-dark">
                    AGENDA EVENTS IKA UII
                </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px">
                <figure class="figure">
                    <img src="https://ika.uii.ac.id/media/events/5f68358e3a15a.jpeg" style="height: 350px;" class="img-fluid" alt="Image placeholder">
                </figure>
                <figure class="figure">
                    <img src="https://ika.uii.ac.id/media/events/5f68358e3a15a.jpeg" style="height: 350px;" class="img-fluid" alt="Image placeholder">
                </figure>
                <figure class="figure">
                    <img src="https://ika.uii.ac.id/media/events/5f68358e3a15a.jpeg" style="height: 350px;" class="img-fluid" alt="Image placeholder">
                </figure>
            </div>
            <div class="mb-5 px-3 text-center mt-5 pt-5">
                <span class="badge badge-soft-secondary badge-pill badge-lg text-dark px-4">
                    LIHAT LEBIH LANJUT
                </span>
            </div>
        </div>
    </section>
    <section class="slice slice-xl has-floating-items bg-gradient-primary" id="sct-call-to-action">
        <a href="#sct-call-to-action" class="tongue tongue-up tongue-warning">
            <i class="fas fa-angle-up">

            </i>
        </a>
        <div class="container text-center mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white">Kepengurusan Ikatan Keluarga Alumni</h1>
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-8">
                            <p class="lead text-white">
                                Ikatan Keluarga Alumni UII (IKA UII) memiliki kepengurusan baik di Tingkat Pusat (DPP), Tingkat Wilayah (DPW), Ikatan Alumni di setiap Fakultas dan Program Studi.
                            </p>
                            <div class="btn-container mt-5 text-center">
                                <a href="#" class="btn btn-warning rounded-pill btn-icon hover-translate-y-n3 mb-4 mb-md-0 text-white mr-2 ml-2">
                                    <span class="btn-inner--icon">
                                        <i class="fas fa-book"></i>
                                    </span>
                                    <span class="btn-inner--text ml-3">Profile Pengurus Pusat</span>
                                </a>
                                <a href="#" class="btn btn-warning rounded-pill btn-icon hover-translate-y-n3 mb-4 mb-md-0">
                                    <span class="btn-inner--icon">
                                        <i class="fas fa-book"></i>
                                    </span>
                                    <span class="btn-inner--text ml-3">Profile Pengurus Daerah</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container floating-items">
            <div class="icon-floating bg-white floating d-none d-md-block">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-01.png" class="svg-inject w-50" alt="Image placeholder">
            </div>
            <div class="icon-floating icon-lg bg-white floating  d-none d-md-block">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-02.png" class="svg-inject" alt="Image placeholder">
            </div>
            <div class="icon-floating icon-sm bg-white floating  d-none d-md-block">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-03.png" class="svg-inject" alt="Image placeholder">
            </div>
            <div class="icon-floating icon-lg bg-white floating">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-04.png" class="svg-inject" alt="Image placeholder">
            </div>
            <div class="icon-floating bg-white floating">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-05.png" class="svg-inject w-50" alt="Image placeholder">
            </div>
            <div class="icon-floating icon-sm bg-white floating">
                <span></span>
                <img src="https://ika.uii.ac.id/assets/img/education/icon-06.png" class="svg-inject" alt="Image placeholder">
            </div>
        </div>
    </section>
    <section class="slice slice-lg bg-section-secondary">
        <div class="container">
            <div class="mb-5 text-center">
                <span class="badge badge-soft-warning badge-pill badge-lg">
                    TESTIMONI ALUMNI
                </span>
            </div>
            <div class="pt-5 row justify-content-center">
                <div class="col-lg-11">
                    <swiper [config]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="avatar  rounded-circle" src="https://ika.uii.ac.id/media/avatars/5f8ebf5e0439f.jpeg" alt="Image placeholder">
                                            </div>
                                            <div class="pl-3">
                                                <h5 class="h6 mb-0"> Zamilia Sari, SE, MBA</h5>
                                                <small class="d-block text-muted mt-2">Komisaris SPPBE &SPBU PT Putra Sindo Banjaran, Kab. Indragiri Hilir, Riau</small>
                                            </div>
                                        </div>
                                        <p class="mt-4 lh-180" style="font-weight: 400;">
                                            UII seperti "magnet" yang menarik saya lebih kuat meski diterima di PTN Sumatera. Di UII saya berkesempatan mendapatkan ilmu terbaik, membentuk diri menjadi lebih dewasa, memperluas wawasan, menikmati atmosfir belajar dan beradaptasi dengan dunia baru agar saya siap menghadapi dunia yang lebih besar yaitu dunia bisnis. Terima Kasih UII
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    
                    </swiper>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-xl bg-primary" style="padding-bottom: 150px;">
        <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
            <figure class="w-100">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1956 1143 1385 601" class="injected-svg svg-inject">
                    <defs>
                        <style>
                            .cls-1{
                                fill: #fff;
                                opacity: 0.046;
                            }
                        </style>
                    </defs>
                    <g id="Group_243" data-none="Group 243" transform="translate(-1838 1118)">
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(54 476)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(479 200)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(493 327)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(280 364)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(100 354)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(493 41)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(10 39)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(325 25)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(964 514)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(659 539)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(945 354)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(1178 140)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(1125 364)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(212 238)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(123 154)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(390 551)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(884 178)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(683 378)"></rect>
                        <rect id="Rectangle_689" data-name="Rectangle 689" class="cls-1" width="89" height="75" transform="translate(-118 413)"></rect>
                    </g>
                </svg>
            </figure>
        </div>
        <div class="container py-5 position-relative zindex-100" style="left: 0; right: 0;">
            <div class="row row-grid justify-content-around align-items-center">
                <div class="col-lg-6">
                    <div class="text-center text-lg-left">
                        <h1 class="mt-4 mb-3 text-white">REGISTRASI DATA ALUMNI</h1>
                        <p class="lead lh-180 text-white">
                            Universitas Islam Indonesia, sebagai pionir pendidikan tinggi di Indonesia sudah memiliki lebih dari 100.000 alumni.
                            <br>
                            Ikatan Keluarga Alumni (IKA UII) berupaya membuat data base alumni yang kini tersebar di seluruh wilayah Indonesia, bahkan manca negara. Tujuannya adalah untuk mempererat silaturahmi antar alumni.
                            <br>
                            UII JAYA, ALUMNI HEBAT.
                        </p>
                        <div class="mt-5">
                            <a href="#" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3" target="_blank">
                                <span class="btn-inner--icon">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="btn-inner--text ml-3">Registrasi Sekarang</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cards card bg-section-secondary mt-7 mb-0 py-5 px-4 shadow-lg perspective-right">
                        <div class="card-body">
                            <h2 class="headings" style="font-weight: 300; font-size: 2rem;">
                                Registrasi Data Alumni
                                <strong style="font-weight: 500;">Wisudawan</strong>
                            </h2>
                            <p class="lead lh-180 mt-4">Pendaftaran KTA Alumni Wisudawan dilakukan secara kolektif oleh Pihak Kampus.</p>
                            <h2 class="headings" style="font-weight: 300; font-size: 2rem;">
                                Registrasi Data Alumni
                                <br>
                                <strong style="font-weight: 500;">Non Wisudawan</strong>
                            </h2>
                            <p class="lead lh-180 mt-4">
                                Alumni UII Non Wisudawan adalah alumni UII lawas yang lulus sebelum Juni 2020. Pendaftaran KTA dilakukan secara mandiri melalui form pada halaman registrasi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <figure class="shape-container shape-position-bottom text-white d-none d-xl-block d-md-none" style="height: 705.594px;">
            <svg xml:space="preserve" class="ie-shape-wave-1" x="0px" y="0px" viewBox="0 0 1000 300" style="enable-background:new 0 0 1000 300;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
                <path d="M 0 246.131 C 0 246.131 31.631 250.035 47.487 249.429 C 65.149 248.755 82.784 245.945 99.944 241.732 C 184.214 221.045 222.601 171.885 309.221 166.413 C 369.892 162.581 514.918 201.709 573.164 201.709 C 714.375 201.709 772.023 48.574 910.547 21.276 C 939.811 15.509 1000 24.025 1000 24.025 L 1000 300.559 L -0.002 300.559 L 0 246.131 Z"></path>
            </svg>
        </figure>
    </section>
</div>