<body>
    <header>
        <div style="background-color: #ffbc33!important;">
            <div class="navbar-top container px-lg-0">
                <div class="top-title">
                    <a href="/" target="_blank">
                        <span class="navbar-text mr-3" style="color: #06337b;">
                            <i class="fas fa-angle-left"></i>
                            Website Utama UII
                        </span>
                    </a>
                </div>
                <div class="ml-auto">
                    <ul class="nav">
                        <li class="nav-item d-none d-md-block">
                            <a href="" class="nav-link" target="_blank" style="color: #06337b;">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="" class="nav-link" target="_blank" style="color: #06337b;">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="" class="nav-link" target="_blank" style="color: #06337b;">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="" class="nav-link" target="_blank" style="color: #06337b;">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="" class="nav-link" target="_blank" style="color: #06337b;">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="nav-item d-block d-sm-none">
                            <a href="" class="nav-reg" target="_blank" style="color: #06337b;">
                                <i class="fas fa-user-circle mr-2"></i>Registrasi
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="card bg-warning-light shadow hover-shadow-lg border-0 position-relative zindex-100">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon">
                                    <i class="fab fa-instagram text-dark"></i>
                                </div>
                                <div class="icon-text">
                                    <h3 class="text-dark h4" style="font-weight: 600; font-size: 1.3rem;">
                                        Ikuti Perkembangan Alumni 
                                        <br>
                                        Di Social Media
                                    </h3>
                                    <p class="text-dark mb-0 text-justify">
                                        Para Alumni UII dapat mengikuti perkembangan terbaru dari kegiatan Ikatan Keluarga Alumni Universitas Islam Indonesia (IKA UII) melalui berbagai kanal social media, seperti Instagram, Facebook, LinkedIn, Twitter dan Youtube. Alumni UII juga bisa mengontak admin social media tersebut untuk mengusulkan materi yang menarik ditampilkan.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                                    <li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link" target="_blank">
                                            <i class="fab fa-youtube text-dark"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link" target="_blank">
                                            <i class="fab fa-instagram text-dark"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link" target="_blank">
                                            <i class="fab fa-facebook text-dark"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link" target="_blank">
                                            <i class="fab fa-twitter text-dark"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link" target="_blank">
                                            <i class="fab fa-linkedin text-dark"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="card bg-warning-light shadow hover-shadow-lg border-0 position-relative zindex-100">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon">
                                    <i class="fas fa-question-circle"></i>
                                </div>
                                <div class="icon-text">
                                    <h3 class="text-dark h4" style="font-weight: 600; font-size: 1.3rem;">
                                        Layanan Bantuan 
                                        <br>
                                        Seputar Alumni
                                    </h3>
                                    <p class="text-dark mb-0 text-justify">
                                        Para alumni UII yang membutuhkan informasi dan bantuan dapat menghubungi email pengurus di
                                        <strong class="text-right">dpp.ika@uii.ac.id</strong> atau <strong>humas.dppikauii@gmail.com</strong>
                                    </p>
                                    <p class="mb-0 text-dark text-justify">
                                        Layanan Informasi/ Bantuan Registrasi KTA: 
                                        <strong> WhatsApp +62 823-2407-4933 </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer-main">
        <div class="footer footer-dark bg-gradient-primary footer-rotate">
            <div class="container">
                <div class="row pt-md">
                    <div class="col-lg-4 mb-5 mb-lg-0 text-center text-lg-left">
                        <a href="https://ika.uii.ac.id/">
                            <img src="https://ika.uii.ac.id/assets/img/logo.jpg" style="height: 140px;border-radius:100%;" class="ml-md-n2 mb-3" alt="Footer logo">
                        </a>
                        <h6 class="text-sm text-white">DPP IKA UII</h6>
                        <h6 class="text-sm text-white">
                            <i class="fas fa-map-marker-alt">
                                Jl. Kerinci VIII No.63, Kebayoran Baru, Jakarta Selatan.
                            </i>
                        </h6>
                        <h6 class="text-sm text-white">
                            <i class="fas fa-envelope">
                                dpp.ika@uii.ac.id / humas.dppikauii@gmail.com
                            </i>
                        </h6>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">IKA UII</h6>
                        <ul class="list-unstyled">
                            <li class="text-sm">
                                <a href="https://ika.uii.ac.id/aboutus">PROFILE</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://ika.uii.ac.id/aboutus">PENGURUS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">TAUTAN</h6>
                        <ul class="list-unstyled text-small">
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">UNIVERSITAS ISLAM INDONESIA</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">JEJARING ALUMNI UII</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">UII CAREER CENTER</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">TRACER STUDY UII</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">DONASI ALUMNI UII</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-4 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">TENTANG WEBSITE</h6>
                        <ul class="list-unstyled text-small">
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">SYARAT DAN KETENTUAN</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">FAQ</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">KEBIJAKAN PRIVASI</a>
                            </li>
                            <li class="text-sm">
                                <a href="https://www.uii.ac.id/" target="_blank">SUPPORT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left text-white">
                            © 2020 
                            <a href="#" class="font-weight-bold text-white" target="_blank">IKAUII </a>. All rights reserved.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC45wlCtkffuTx3RlQDw-GRQ" class="nav-link">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <header class="head-two header-transparent" id="header-main">
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary-dark navbar-dark mt-4">
            <div class="container px-lg-0">
                <a class="navbar-brand mr-lg-5 d-none d-md-block" href="#">
                    <img src="https://ika.uii.ac.id/assets/img/logo.jpg" width="100" height="100" class="d-inline-block align-top" alt="" style="border-radius:100%;">
                </a>
                <a href="" class="navbar-brand mr-lg-5 d-md-block d-lg-none ml-0" >
                    <img src="https://storage.googleapis.com/bsdn/ikauii/img/logo-ikauii-tagline.png" height="100" alt="Image placeholder">
                </a>
                <button class="navbar-toggler pr-0" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbar-main-collapse" type="button" data-toggle="collapse" data-target="#navbar-main-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item d-lg-none d-xl-block">
                            <a routerLink="/" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item d-lg-none d-xl-block dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PROFILE</a>
                            <div class="dropdown-menu dropdown-menu-arrow p-lg-0">
                                <div class="p-lg-2">
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">SEJARAH IKA UII</a>
                                    </div>
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">KEBIJAKAN UMUM DPP IKA UII 2019 - 2024</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-lg-none d-xl-block dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PENGURUS</a>
                            <div class="dropdown-menu dropdown-menu-arrow p-lg-0">
                                <div class="p-lg-2">
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">DEWAN PIMPINAN PUSAT (DPP)</a>
                                    </div>
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a routerLink="/" class="dropdown-item" role="button">DEWAN PIMPINAN WILAYAH (DPW)</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-lg-none d-xl-block">
                            <a routerLink="/dpw" class="nav-link">ANGGOTA</a>
                        </li>
                        <li class="nav-item d-lg-none d-xl-block dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AKTIVITAS</a>
                            <div class="dropdown-menu dropdown-menu-arrow p-lg-0">
                                <div class="p-lg-2">
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">NEWS</a>
                                    </div>
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">AGENDA EVENT</a>
                                    </div>
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">GALERI</a>
                                    </div>
                                    <div class="dropdown dropdown-animate dropdown-item" data-toggle="hover">
                                        <a href="/" class="dropdown-item" role="button">PROFILE ALUMNI</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-lg-none d-xl-block">
                            <a href="#" class="nav-link">KONTAK</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a href="#" class="nav-link" target="_blank">
                                REGISTRASI
                            </a>
                        </li>
                        <li class="nav-item mr-0">
                            <a href="#" target="_blank" class="btn btn-sm btn-white rounded-pill btn-icon rounded-pill d-none d-lg-inline-flex">
                                <span class="btn-inner-icon">
                                    <i class="fas fa-user-circle mr-2"></i>
                                </span>
                                <span class="btn-inner-text">REGISTRASI</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>